.ac-container {
    width: 100%;
    text-align: center;
}

.ac-container label {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 0px;
    position: relative;
    z-index: 20;
    display: block;
    height: 180px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 19px;

}



.ac-container input {
    display: none;
}

.ac-container article {
    background: rgba(209, 209, 209, 0.6);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.4s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.4s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.4s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.4s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.4s linear;
}

.ac-container input:checked ~ article.ac-small {
    height: 150px;
}

.ac-container input:checked ~ article.ac-medium {
    height: 200px;
}

.ac-container input:checked ~ article.ac-large {
    height: 250px;
}