.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif;
  background-color: rgba(240, 240, 240, 0.71); }

.navbar-nav > li > a {
  color: #4f4f4f; }

.navbar-nav li a:hover {
  color: #d40400 !important; }

.titulo {
  width: 80%;
  float: right;
  color: #d40400; }

.text {
  text-align: justify;
  padding-top: 2%;
  padding-bottom: 2%; }

.fondocentral {
  background-color: rgba(252, 252, 252, 0.71); }

.fondolateral {
  background-color: rgba(234, 234, 234, 0.71);
  min-height: 350px; }

.fondolateral h3 {
  color: #0f0f0f; }

.tips, .tips li {
  margin: 1%;
  padding: 0;
  list-style: none; }

.tips {
  width: 100%;
  font-size: 16px;
  line-height: 120%; }

.tips li {
  padding: 20px;
  display: none; }

.tips img {
  max-height: 80%;
  width: 80%;
  display: block;
  margin: 0 auto; }

.fondoalumnos {
  background-color: rgba(229, 222, 165, 0.74);
  height: 280px; }

.textoalumnos {
  margin: 15%;
  display: block; }

.fondopersonal {
  background-color: rgba(229, 222, 165, 0.74); }

.imgvertical {
  max-height: 44%;
  max-width: 44%;
  margin: 1%; }

.imghorizontal {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto; }

.imgcuadrada {
  max-height: 90%;
  max-width: 90%;
  display: block;
  margin: 0 auto; }

.imgboton {
  max-height: 6%;
  max-width: 6%; }

.permisos {
  width: 350px;
  height: 180px; }

.footer {
  background-color: rgba(234, 234, 234, 0.71);
  font-size: 1.1em;
  text-align: center; }

.facebook {
  display: inline;
  padding: 0;
  text-align: left;
  font-size: 1em;
  font-family: "Droid Sans", Helvetica, Arial, sans-serif; }

.facebook a {
  display: inline-block;
  margin-right: 6px;
  border: 2px solid #aaa;
  background: rgba(64, 64, 64, 0.9) url(//55b558c7-resources.123inventatuweb.com/91fd2198ce97f2b7b4729b0abcdf896c/templates/rooknightclub/images/social/socialicons-facebook.png) no-repeat center;
  background-size: 18px;
  text-indent: -9999px;
  height: 32px;
  width: 32px; }

.facebook a:hover {
  background-color: #3b5998; }

.telefonos {
  font-size: 140%;
  display: block;
  color: #d40400;
  background-color: rgba(234, 234, 234, 0.71);
  border: solid #bfbfbf;
  text-align: center; }

a {
  color: #d40400; }

/*# sourceMappingURL=estilo.css.map */
