$rojo: #d40400
$verde: #589D05
$blanco: white
$blancobox: #DADADA
$blancoborde: #E1E1E1
$blancofondo: #F5F5F5
$gris: #626262
$grisclaro: #939393
$col: color

/* Estilos del formulario */
form.contacto
  width: 100%

form.contacto fieldset
  background-#{$col}: $blanco
  border: 1px solid $blancoborde
  box-shadow: 0 0 10px $blancobox
  -webkit-box-shadow: 0 0 10px $blancobox
  -moz-box-shadow: 0 0 10px $blancobox
  padding: 15px

form.contacto fieldset > div
  clear: both
  margin-bottom: 10px
  overflow: hidden

form.contacto fieldset div label
  display: block
  float: left
  margin-right: 15px
  margin-top: 25px
  text-align: right
  text-transform: uppercase
  width: 75px

form.contacto input[type="text"], form.contacto textarea
  background-#{$col}: $blancofondo
  border: 1px solid $blancoborde
  #{$col}: $gris
  display: block
  float: left
  padding: 8px
  resize: none
  width: 80%
  -webkit-transition: all 0.1s linear
  -moz-transition: all 0.1s linear

form.contacto input[type="text"]:focus, form.contacto textarea:focus
  background-#{$col}: $blancofondo
  border: 1px solid $blancobox
  outline: none

form.contacto .ultimo
  margin-bottom: 0
  position: relative

form.contacto button
  background-#{$col}: $gris
  border: 0 none
  #{$col}: $blancofondo
  float: right
  font-weight: bold
  height: 32px
  padding: 10px 10px
  position: relative
  text-transform: uppercase
  -webkit-transition: all 0.2s linear
  -moz-transition: all 0.2s linear

form.contacto button:hover
  background: $grisclaro


/* AJAX Gif y mensajes de exito o fracaso */
.hide
  display: none

.ajaxgif
  position: absolute
  right: 150px
  top: 5px

.msg
  #{$col}: $blancofondo
  font-weight: bold
  height: 32px
  line-height: 32px
  padding: 0 10px
  position: absolute
  right: -155px
  text-transform: uppercase
  min-width: 121px

.msg_ok
  background-#{$col}: $verde

.msg_error
  background-#{$col}: $rojo
