/* Estilos del formulario */
form.contacto {
  width: 100%; }

form.contacto fieldset {
  background-color: white;
  border: 1px solid #E1E1E1;
  box-shadow: 0 0 10px #DADADA;
  -webkit-box-shadow: 0 0 10px #DADADA;
  -moz-box-shadow: 0 0 10px #DADADA;
  padding: 15px; }

form.contacto fieldset > div {
  clear: both;
  margin-bottom: 10px;
  overflow: hidden; }

form.contacto fieldset div label {
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: 25px;
  text-align: right;
  text-transform: uppercase;
  width: 75px; }

form.contacto input[type="text"], form.contacto textarea {
  background-color: #F5F5F5;
  border: 1px solid #E1E1E1;
  color: #626262;
  display: block;
  float: left;
  padding: 8px;
  resize: none;
  width: 80%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear; }

form.contacto input[type="text"]:focus, form.contacto textarea:focus {
  background-color: #F5F5F5;
  border: 1px solid #DADADA;
  outline: none; }

form.contacto .ultimo {
  margin-bottom: 0;
  position: relative; }

form.contacto button {
  background-color: #626262;
  border: 0 none;
  color: #F5F5F5;
  float: right;
  font-weight: bold;
  height: 32px;
  padding: 10px 10px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear; }

form.contacto button:hover {
  background: #939393; }

/* AJAX Gif y mensajes de exito o fracaso */
.hide {
  display: none; }

.ajaxgif {
  position: absolute;
  right: 150px;
  top: 5px; }

.msg {
  color: #F5F5F5;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  position: absolute;
  right: -155px;
  text-transform: uppercase;
  min-width: 121px; }

.msg_ok {
  background-color: #589D05; }

.msg_error {
  background-color: #d40400; }

/*# sourceMappingURL=estilo-contacto.css.map */
