$rojo: #d40400
$grisfondocentral: rgba(252, 252, 252, 0.71)
$grisfondolateral: rgba(234, 234, 234, 0.71)
$gris: #bfbfbf
$negro: #0f0f0f
$marronfondo: rgba(229, 222, 165, 0.74)
$azul: #3b5998

$col: color

@mixin default-img($height, $width)
  max-height: $height
  max-width: $width

.navbar
  padding-top: 15px
  padding-bottom: 15px
  border: 0
  border-radius: 0
  margin-bottom: 0
  font-size: 12px
  letter-spacing: 5px
  font-family: "Droid Sans", Helvetica, Arial, sans-serif
  background-#{$col}: rgba(240, 240, 240, 0.71)

.navbar-nav > li > a
  #{$col}: #4f4f4f


.navbar-nav  li a:hover
  #{$col}: $rojo !important

.titulo
  width: 80%
  float: right
  #{$col}: $rojo

.text
  text-align: justify
  padding-top: 2%
  padding-bottom: 2%

.fondocentral
  background-#{$col}: $grisfondocentral

.fondolateral
  background-#{$col}: $grisfondolateral
  min-height: 350px

.fondolateral h3
  #{$col}: $negro

.tips, .tips li
  margin: 1%
  padding: 0
  list-style: none

.tips
  width: 100%
  font-size: 16px
  line-height: 120%

.tips li
  padding: 20px
  display: none

.tips img
  max-height: 80%
  width: 80%
  display: block
  margin: 0 auto

.fondoalumnos
  background-#{$col}: $marronfondo
  height: 280px

.textoalumnos
  margin: 15%
  display: block

.fondopersonal
  background-#{$col}: $marronfondo

.imgvertical
  @include default-img(44%, 44%)
  margin: 1%

.imghorizontal
  @include default-img(100%, 100%)
  display: block
  margin: 0 auto

.imgcuadrada
  @include default-img(90%, 90%)
  display: block
  margin: 0 auto

.imgboton
  @include default-img(6%, 6%)

.permisos
  width: 350px
  height: 180px


.footer
  background-#{$col}: $grisfondolateral
  font-size: 1.1em
  text-align: center

.facebook
  display: inline
  padding: 0
  text-align: left
  font-size: 1em
  font-family: "Droid Sans", Helvetica, Arial, sans-serif

.facebook a
  display: inline-block
  margin-right: 6px
  border: 2px solid #aaa
  background: rgba(64, 64, 64, 0.9) url(//55b558c7-resources.123inventatuweb.com/91fd2198ce97f2b7b4729b0abcdf896c/templates/rooknightclub/images/social/socialicons-facebook.png) no-repeat center
  background-size: 18px

  text-indent: -9999px
  height: 32px
  width: 32px

.facebook a:hover
  background-#{$col}: $azul

.telefonos
  font-size: 140%
  display: block
  #{$col}: $rojo
  background-#{$col}: $grisfondolateral
  border: solid $gris
  text-align: center

a
  #{$col}: $rojo